addict==2.4.0
bytetracker==0.3.2
easydict==1.11
filterpy==1.4.5
matplotlib==3.8.2
norfair_tracker==0.0.4
numpy==1.26.2
ocsort==0.0.2
opencv_python==4.8.1.78
Pillow==10.1.0
Pillow==10.1.0
PyOpenGL==3.1.7
PyOpenGL==3.1.7
pypangolin==0.8
pyquaternion==0.9.9
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.11.4
strongsort==0.2.1
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0
